framework >= net40
source https://www.nuget.org/api/v2
nuget DotLiquid
nuget Expecto
nuget FsCheck
nuget FSharp.Core
nuget FSharp.Data
nuget Suave
nuget Suave.DotLiquid
nuget System.Runtime.Serialization.Xml
nuget Unquote
github haf/YoLo YoLo.fs