<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div>
    {% for item in model -%}
      {{ item }}
    {% endfor -%}
  </div>
</body>
</html>